/.vscode
bin/majBuild1.zip
bin/majBuild1/zom.exe
bin/majBuild1/readme.txt
bin/majBuild1/assets/img/bob.png
bin/majBuild2/zom.exe
bin/majBuild2/readme.txt
bin/majBuild2/assets/img/bob.png
bin/majBuild3/zom.exe
bin/majBuild3/readme.txt
bin/majBuild3/assets/img/bob.png
bin/majBuild4/zom.exe
bin/majBuild4/readme.txt
bin/majBuild4/assets/img/bob.png
bin/majBuild4.zip
assets0.zmb
bin/zom.exe
bin/majBuild5/zom.exe
assets/img/bob_atlas-export-e3xpor2t.png
assets/img/bob_atlas-export-expor2t.png
assets/img/bob_atlas-export-export.png
assets/img/bob_atlas-export.png
assets/img/bob_atlas.png
src/r_renderfuncs.c
bin/majBuild6/zom.exe
bin/majBuild6/readme.txt
src/r_renderfuncs.c
bin/majBuild7/readme.txt
bin/majBuild7/zom.exe
bin/majBuild7.zip
bin/bin.zip
bin/major_build9.zip
bin/major_build8.zip
bin/test.zip
bin/major_builds/major_build8.5.zip
bin/major_builds/major_build8.zip
bin/major_build9.5.zip
assets/img/texture_atlas.png
bin/major_build9.8.zip
bin/major_build9.6.zip
bin/major_builds/major_build9.zip
assets/img/texture_atlas.png
bin/zom.exe
bin/prototype1.3.zip
bin/prototype1.2.zip
bin/prot.zip
assets/img/texture_atlas.png
bin/prototype1.4.5.zip
.gitignore
bin/zom.exe
