/.vscode
bin/majBuild1.zip
bin/majBuild1/zom.exe
bin/majBuild1/readme.txt
bin/majBuild1/assets/img/bob.png
bin/majBuild2/zom.exe
bin/majBuild2/readme.txt
bin/majBuild2/assets/img/bob.png
bin/majBuild3/zom.exe
bin/majBuild3/readme.txt
bin/majBuild3/assets/img/bob.png
bin/majBuild4/zom.exe
bin/majBuild4/readme.txt
bin/majBuild4/assets/img/bob.png
